@import './global.scss';

.background {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: beige;
    justify-content: center;
    align-items: center;
    background-color: $dark-background;
    color: $dark-letter;
}

.calculator {
    display: felx;
    font-family: $font1;
    width: 50rem;
    height: 60rem;
}