@import './global.scss';

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: beige;
    background-color: $dark-background;
    color: $dark-letter;
}

.calculator {
    font-family: $font1;
    width: 100vw;
    height: 60rem;
}