@import 'global.scss';

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

.calc-dark {
    color: $dark-letter;
}

.calc-light {
    color: $light-letter;
}

.calc-third {
    color: $third-letter;
}

.header__toogle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.toogle__button {
    padding: 0 0.3rem;
    border: none;
    border-radius: 0.2rem;
    color: $dark-letter;
    font-weight: bold;
    &.dark {
        background-color: $dark-button3;
    }
    &.light {
        background-color: $light-button3;
    }
    &.third {
        background-color: $third-button3;
    }
}

.toogle__buttons {
    display: flex;
    width: 5rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
    padding: 0.2rem;
    border-radius: 2rem;
    background-color: black;
}

.toogle {
    width: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    &.dark {
        background-color: $dark-button3;
    }
    &.light {
        background-color: $light-button3;
    }
    &.third {
        background-color: $third-button3;
    }
}